:host {
  display: block;
}

.custom-dialog-container {
  mat-dialog-container {
    padding: 0;
    border-radius: 18px;
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 