<!-- Loading Overlay -->
<div *ngIf="isLoading" class="fixed inset-0 bg-white bg-opacity-75 z-50 flex items-center justify-center">
  <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500"></div>
</div>

<div class="min-h-screen bg-white">
  <div class="w-[1275px] mx-auto flex gap-2 min-h-screen">
    <!-- Left Sidebar -->
    <div *ngIf="authService.isAuthenticated()" class="w-[275px]">
      <div class="fixed w-[275px] h-screen">
        <app-sidebar></app-sidebar>
      </div>
    </div>

    <!-- Main Content -->
    <main [class]="authService.isAuthenticated() ? 'w-[600px]' : 'w-full'">
      <router-outlet></router-outlet>
      <app-emoji-picker></app-emoji-picker>
    </main>

    <!-- Right Sidebar -->
    <div *ngIf="authService.isAuthenticated()" class="w-[350px] h-screen">
      <app-right-sidebar></app-right-sidebar>
    </div>
  </div>
</div>
<app-notification></app-notification>
