/* This component uses Tailwind CSS classes for styling */ 

:host {
  display: block;
  position: relative;
  
  &.sticky {
    position: fixed;
    transform: translateZ(0);
    will-change: transform;
    z-index: 10;
    right: auto; /* Prevent right shifting */
  }
} 

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 