/* This component uses Tailwind CSS classes for styling */ 

:host {
  display: block;
  position: relative;
  
  &.sticky {
    position: fixed;
    transform: translateZ(0);
    will-change: transform;
    z-index: 10;
  }
} 