:host {
  display: block;
}

.min-h-screen {
  min-height: 100vh;
} 

.centered-dialog {
  .cdk-global-overlay-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
