.user-item {
  &:hover {
    .follow-button {
      opacity: 1;
    }
  }

  .follow-button {
    opacity: 0.9;
    transition: opacity 0.2s ease-in-out;
  }
}

.empty-state {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
} 